.home-header {
    background-image: url('../../../assets/imagem-kids.jpg');
    min-height: 100vh;
    background-position: right center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    flex-direction: column;
    display: flex;                                                                                                                                                                                                      
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}                                                                                                                                                                                                                                                                                               


h2                                                                                                                                                                                                                                                                                                                                                                                                                                   {
    font-size: 2.2rem;
    color: white;
    padding: 4rem;
  }